!!!5
%html
	%head
		%title I have a backbone
	%body
		%button{:id => 'add-friend'}Add Friend
		%ul{:id => 'friends-list'}
		%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
		%script{:src => 'http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js'}
		%script{:src => 'http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js'}
		%script{:src => 'js/friends.js'}
